.modalBackground {
    z-index:99;
    margin-top:400px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 35%);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    margin-top:100px;
    width: 500px;
    height: 520px;
    border-radius: 12px;
    background-color: rgb(34, 37, 49);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
  }
  
  .modalContainer .title {
    font-size: 16px;
    line-height: 34px;
    font-weight: 700;
    color: white;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    margin:20px;
  }
  
  .modalContainer .title h1{
  margin:0;
}
p{
  margin:0;
}